*{  box-sizing:border-box;
    background-color:#ffe3b3;
}

div{
	position: relative;
	text-align: center;
	border-radius:10px;
}

h3{
  	font-family:'Courier New', Courier, monospace;
  	font-weight:bold;
}

form{
	width:300px;
	padding:16px;
	border-radius:10px;
 	margin:auto;
	background-color:#ffb173;
}

form fieldset{
    border-radius:10px;
    border-color: #ff6666;
}

form legend{
	width:auto;
    font-family:'Courier New', Courier, monospace;
	font-weight:bold;
	background: transparent;
}

form input[type="text"],
form input[type="password"],
form input[type="email"]
{
	width:180px;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
    font-family:'Courier New', Courier, monospace;
	display:inline-block;
}

form select{
    font-family:'Courier New', Courier, monospace;
    background-color:#f6f6f6;
}

form option{
    font-family:'Courier New', Courier, monospace;
    background-color:#f6f6f6;
}

form input[type="submit"]{
	width:100%;
	padding:8px 16px;
	margin-top:32px;
	border:1px;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:#c9294f;
} 

form input[type="submit"]:hover{
	cursor:pointer;
    background-color: #74182e;
}

.warnings{
	width: 200px;
	text-align: center;
	margin:auto;
	color: #571845;
	padding-top: 20px;
}

.wrapper {
	width: 100%;
	padding: 5px 4px 5px 4px;
	border-radius: 10px;
  }
  .container {
	text-align: justify;
	width: 100%;
	height: 20px;
	margin-top: 10px;
  }
  input[type="range"] {
	background-color: transparent;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 100%;
	outline: none;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	pointer-events: none;
  }
  .slider-track {
	background-color: transparent;
	color: #74182e;
	width: 100%;
	height: 5px;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	border-radius: 5px;
  }
  input[type="range"]::-webkit-slider-runnable-track {
	-webkit-appearance: none;
	border-color: #74182e;
	outline-color: #74182e;
	height: 5px;
  }
  input[type="range"]::-moz-range-track {
	/*-moz-appearance: none;*/
	background-color: #74182e;
	border-color: #74182e;
	height: 5px;
  }
  input[type="range"]::-ms-track {
	-ms-appareance: none;
	height: 5px;
  }
  input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 1.7em;
	width: 1.7em;
	background-color: #74182e;
	cursor: pointer;
	margin-top: -9px;
	pointer-events: auto;
	border-radius: 50%;
  }
  input[type="range"]::-moz-range-thumb {
	height: 1.7em;
	width: 1.7em;
	cursor: pointer;
	border-radius: 50%;
	background-color: #74182e;
	pointer-events: auto;
	border: none;
  }
  input[type="range"]::-ms-thumb {
	appearance: none;
	height: 1.7em;
	width: 1.7em;
	cursor: pointer;
	border-radius: 50%;
	background-color: #74182e;
	pointer-events: auto;
  }
  
  .values {
	background-color: #74182e;
	width: 32%;
	position: relative;
	margin: auto;
	padding: 10px 0;
	border-radius: 5px;
	text-align: center;
	font-weight: 500;
	font-size: 25px;
	color: #ffffff;
  }
  .values:before {
	content: "";
	position: absolute;
	height: 0;
	width: 0;
	border-top: 15px solid #74182e;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	margin: auto;
	bottom: -14px;
	left: 0;
	right: 0;
  }
  
  .form_control {
	position: relative;
	display: flex;
	justify-content: space-between;
	font-size: 24px;
	color: #74182e;
  }